<!DOCTYPE html>
<html>
<head>
<script src="angular.js"></script>
<script>
var myapp=angular.module('myapp',[]);
myapp.controller('mycontroller',function($scope){
$scope.Empname="Archana";
$scope.Empid="001";
$scope.Empsalary="1000";
})
</script>
</head>
<body ng-app="myapp">
<div ng-controller="mycontroller">
Name :<input type=text ng-model="Empname"><br/><br/>
Salary :<input type="text" ng-model ="Empsalary"><br/><br/>
Employee name is :{{Empname}}<br/>
Employee Salary is : {{Empsalary}}<br/><br/>
</div>
<div ng-controller="mycontroller">
Name :<input type=text ng-model="Empname"><br/><br/>
Salary :<input type="text" ng-model ="Empsalary"><br/><br/>
Employee name is :{{Empname}}<br/>
Employee Salary is : {{Empsalary}}<br/>
</div>
</body>
</html>